{% extends "../main.html.twig" %}

{% block body %}
    <h2>Książki</h2>
    <p>Zarządzaj</p>
    
    {% if registerErrors is defined %}
            {% for error in registerErrors %}
                <p class="bg-danger padding-10">{{ error }}</p>
            {% endfor %}
    {% endif %}
    
    {% if message is defined %}
        <p class="bg-success padding-10">{{ message }}</p>
    {% endif %}
    
    <form method="POST" action="book-manage">
        <input type="hidden" name="id" value="{{- book.id -}}">
        Tytuł: <input type="text" name="title" value="{{- book.title -}}"> <br>
        ISBN: <input type="text" name="isbn" value="{{- book.isbn -}}"> <br>
        Autorzy: <input type="text" name="authors" value="{{- book.authors -}}"> <br>
        Opis: <input type="text" name="desc" value="{{- book.description -}}"> <br>
        Rok publikacji: <input type="text" name="pub_year" value="{{- book.publicaitonYear -}}"> <br>
        <br>
        <input type="submit" name="submit" value="Zapisz">
    </form>
{% endblock %}